.keyboard-output {
  display: block;
  width: $keyboard-width;
  height: 200px;
  margin: 10px auto 10px;
  padding: 10px;
  font-size: $output-font-size;
  color: $output-color;
  overflow: auto;
  tab-size: 4;
  background-color: $dark-background-color;
}
