$output-font-size: 18px;

$keyboard-width: 700px;
$key-size: 40px;
$key-delete: 44px;
$key-tab: 50px;
$big-key: 86px;
$large-key: 100px;
$key-space: 330px;

$keyboard-background-color: rgb(110, 110, 110);
$output-color: goldenrod;

$dark-background-color: black;
$key-color: white;