.footer-text {
  text-align: center;
  background: -webkit-linear-gradient(45deg, #00ff95, #09009f 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}